@import url('../css/components/header-1.css');
@import url('../css/components/header-2.css');
@import url('../css/components/header-3.css');
@import url('../css/components/header-4.css');
@import url('../css/components/header-5.css');
@import url('../css/components/header-6.css');
@import url('../css/components/header-7.css');
@import url('../css/components/header-8.css');
@import url('../css/components/header-9.css');
@import url('../css/components/header-10.css');
@import url('../css/components/header-11.css');
@import url('../css/components/header-13.css');
@import url('../css/components/header-14.css');
@import url('../css/components/header-15.css');
@import url('../css/components/header-16.css');
@import url('../css/components/header-17.css');
@import url('../css/components/header-20.css');
@import url('../css/components/header-21.css');
@import url('../css/components/header-22.css');
@import url('../css/components/header-18.css');
@import url('../css/components/header-23.css');
@import url('../css/components/header-24.css');
@import url('../css/components/header-25.css');
@import url('../css/components/header-26.css');
@import url('../css/components/header-27.css');
@import url('../css/components/header-28.css');
@import url('../css/components/header-29.css');
@import url('../css/components/header-30.css');
@import url('../css/components/header-31.css');
@import url('../css/components/header-32.css');
@import url('../css/components/header-33.css');
@import url('../css/components/header-34.css');
@import url('../css/components/header-35.css');
@import url('../css/components/header-36.css');
@import url('../css/components/header-37.css');
@import url('../css/components/header-38.css');
@import url('../css/components/header-39.css');
@import url('../css/components/header-40.css');
@import url('../css/components/header-41.css');
@import url('../css/components/header-42.css');
@import url('../css/components/header-43.css');
@import url('../css/components/header-44.css');
@import url('../css/components/header-45.css');
@import url('../css/components/header-46.css');
@import url('../css/components/header-47.css');
@import url('../css/components/header-48.css');
@import url('../css/components/header-49.css');
@import url('../css/components/header-50.css');
@import url('../css/components/header-51.css');

@import url('../css/components/footer-6.css');
@import url('../css/components/footer-7.css');
@import url('../css/components/footer-8.css');
@import url('../css/components/footer-9.css');
@import url('../css/components/footer-10.css');
@import url('../css/components/footer-11.css');
@import url('../css/components/footer-12.css');
@import url('../css/components/footer-13.css');
@import url('../css/components/footer-14.css');
@import url('../css/components/footer-15.css');
@import url('../css/components/footer-16.css');
@import url('../css/components/footer-17.css');
@import url('../css/components/footer-18.css');
@import url('../css/components/footer-19.css');
@import url('../css/components/footer-20.css');
@import url('../css/components/slider-1.css');
@import url('../css/components/slider-2.css');
@import url('../css/components/slider-4.css');
@import url('../css/components/header-18.css');
@import url('../css/components/header-19.css');



@import url('../css/middle_sections.css');


