.footer-15.footer {
    background-color: var(--primary-color);
    background-position: center center;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
}
.footer-15.footer .widget .widget-title{margin-bottom: 18px;}
.footer-15.footer .widget .widget-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    display: inline-block;
    position: relative;
    color: #db9d4d;
}

/* footer-list*/
.footer-15.footer .widget ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  flex-direction: column;
}
.footer-15 .widget > ul > li > a:hover{
    color: #db9d4d;
}
.footer-15.footer .widget ul>li {
    padding: 0 0 12px 0;
}

.footer-15.footer .widget .social-icons li>a {
    width: 33px;
    height: 33px;
    text-align: center;
    display: block;
    font-size: 16px;
    line-height:33px;
    background-color: transparent;
}

/* newsletter */
.footer-15 .newsletter_widget { padding-right:15px;}


/* second-footer */

.footer-15 .second-footer {position:relative; padding: 57px 15px 50px; border-bottom: 1px solid #ffffff0f;}
.footer-15 .footer-logo img {max-height: 70px;}
.footer-15 .footer-logo{margin-bottom: 20px;}
.footer-15 .second-footer p{
color: #444;
  border-bottom: 1px solid rgba(255,255,255,.03);
  padding-right: 10px;
  padding-bottom: 25px;
  font-weight: bold;
}
.footer-15 .second-footer .widget.widget_nav_menu  li  a{
    position: relative;
    color: #444;

}
.footer-15 .second-footer .widget.widget_nav_menu  li  a:before {
    content: " ";
    position: absolute;
    height: 1px;
    width: 0;
    transition: all 0.7s ease-in-out;
    left: 0;
    bottom: 0;
    top: auto;
  }
.footer-15 .second-footer .widget.widget_nav_menu li a:hover:before{width: 100%;}


/** menu-footer-quick-links **/


/** ttm-recent-post-list **/
.footer-15 .footer .widget ul.ttm-recent-post-list>li{
  display: block;
  padding: 20px 0 22px 0;
}
.footer-15 .footer .widget ul.ttm-recent-post-list>li:first-child {padding-top: 0;}
.footer-15 .footer .widget ul.ttm-recent-post-list>li:not(:first-child) {border-top: 1px solid rgba(255,255,255,.06);}
.footer-15 .footer .widget ul.ttm-recent-post-list>li:last-child{ padding-bottom: 0;}
.footer-15 .footer .widget ul.ttm-recent-post-list>li> .post-detail a {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 20px;
    color: #0b0b0b ;
}
.footer-15 a,.footer-15 a:hover{
     color: #0b0b0b !important;
}
.footer-15.footer .widget ul.ttm-recent-post-list>li img {
    display: block;
    width: 75px;
    height: 75px;
    float: left;
    margin-right: 18px;
    border-radius: 0;
}
.footer-15.footer .widget ul.ttm-recent-post-list>li .post-date {
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 5px;
    color: #444;
}
.footer-15 .widget ul.ttm-recent-post-list>li .post-date i{
    margin-right: 5px;
    font-size: 12px;
}
.footer-15 .latest-tweets .tweet-details, .footer-15 .latest-tweets .tweet-text {
    padding-left: 30px;
    position: relative;
    margin-bottom: 12px;
    margin-bottom: 0;
    overflow: hidden;
}
.footer-15 .latest-tweets .tweet-text {
    font-size: 15px;
    line-height: 26px;
    padding-left: 30px;
    position: relative;
    margin-bottom: 12px;
}
.footer-15 .latest-tweets .tweet-text:before {
    content: "\e74b";
    font: normal normal normal 16px/1 themify;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 17px;
    position: absolute;
    left: 0;
    padding-top: 5px;
}

.footer-15 .bottom-footer-text{
    background-color: transparent;
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/** widget_contact_wrapper **/

/** copyright **/
.footer-15 .copyright {
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
}
.footer-15 .copyright span{color: #2d2d2d !important;}
.footer-15 .copyright span a{padding-right: 5px;}
.footer-15 .copyright ul.list-inline{ margin: 0; }

.footer-15 .copyright .social-icons li {
    font-weight: normal;
    text-align: center;
    position: relative;
}
.footer-15 .copyright .social-icons li a {
    width: 35px;
    height: 35px;
    line-height: 34px;
    border-radius: 50%;
    border: 1px solid #333;
    text-align: center;
    display: block;
    margin: 0 1px;
    font-size: 12px;
    border-color: transparent;
    background-color: rgba(255,255,255,.07);
}


/** Footer-nav-menu **/
.footer-15 .footer-nav-menu {
    margin: 0px;
    padding-left: 10px;
}
.footer-15 .footer-nav-menu li {
  position: relative;
    display: inline-block;
    padding-right: 15px;
    font-size: 14px;
    font-weight: 400;
}

.footer-15 ul.footer-nav-menu li:not(:last-child):after{
    position: absolute;
    content: "|";
    padding-left: 7px;
}
